src/
tsconfig.json
test/
tests/
__tests__/
coverage/
*.spec.ts
*.test.ts
node_modules/
.env
.env.*
logs/
*.log
tmp/
temp/
.git/
.github/
.vscode/
.idea/
.dockerignore
.gitignore
.prettierignore
Dockerfile
docker-compose*.yml
.DS_Store
Thumbs.db
desktop.ini
